
@{
    ViewBag.Title = "Art";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Art</h2>

<a href="virtualmuseum:/@Request.Url.PathAndQuery.ToString()" class="btn btn-default btn-lg">Open Art in app</a>