
@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filter</h2>

<a href="virtualmuseum:/@Request.Url.PathAndQuery.ToString()" class="btn btn-default btn-lg">Open filter in app</a>